/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --main-color1: green;
  --main-color2: red;
  --dark: black;
  --white: white;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  border-bottom: #000000;
}
.legend {
  position: relative;
  top: -20px;
  background-color: white;
  display: inline;
  padding: 0 5px;
}
iframe {
  height: 400px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.bg-dark {
  background-color: var(--dark);
}
.color-white {
  color: var(--white);
}
/* TOGGLE------------------------------------- */
.toggle-container {
  width: 55px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223344;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  background-image: url("../images/Sun_fill.svg");
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #223344;
}

input:focus + .slider {
  box-shadow: 0 0 1px #223344;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-21px);
  -ms-transform: translateX(-21px);
  transform: translateX(-21px);
  background-image: url("../images/Moon_fill.svg");
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* TOGGLE------------------------------------- */

/* scrillbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* MEDIA QUERIES--------------------------------------------------- */

/* COLOR-VARIABLES */

.color1 {
  color: var(--main-color1);
}
.color2 {
  color: var(--main-color2);
}
.bg-color1 {
  background-color: var(--main-color1);
}
.bg-color2 {
  background-color: var(--main-color2);
}

@media (max-width: 992px) {
  .toggle-container {
    height: 100px;
    align-items: end;
  }
}
